* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --pure-black: #000;
  --pure-white: #fff;

  --bg-color: #a0d7ff;
  --body-color: #101111;

  --main-color: #29a8ff;
  --special-color: #a5a5a5;
  --operator-color: #339dff;

  --button-color: #303136;
  --special-button-color: #616161;
  --operator-button-color: #005db2;
}

.calculator {
  height: 100vh;
  width: 100%;
  background-color: var(--bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  background-color: var(--body-color);
  padding: 26px;
  border-radius: 20px;
  box-shadow: 0px 90px 45px -30px rgba(41, 169, 255, 0.521);
}

input {
  width: 310px;
  padding: 25px 0px;
  margin: 10px;
  background: transparent;
  border: none;
  border-radius: 10px;
  outline: none;
  font-size: 45px;
  text-align: right;
  color: var(--pure-white);
}

input::placeholder {
  color: var(--pure-white);
}

button {
  border: none;
  outline: none;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  background-color: var(--button-color);
  font-size: 21px;
  font-weight: 600;
  color: var(--main-color);
  margin: 10px;
  cursor: pointer;
}

.equal {
  width: 144px;
  color: var(--pure-white);
  background-color: #1991ff;
  font-weight: 700;
}

.special-key {
  background-color: var(--special-button-color);
  color: var(--special-color);
  font-weight: 400;
}

.operator {
  background-color: var(--operator-button-color);
  color: var(--operator-color);
}
